@import "~assets/styles/variables";

.home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/images/home-bck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($app-primary, .4);
    }
}