/* Material design icon */
/* Rules for sizing the icon. */
.material-icons.md-16 { 
    font-size: 16px; 
    height: 16px;
    width: 16px;
}
.material-icons.md-18 { 
    font-size: 18px; 
    height: 18px;
    width: 18px;
}
.material-icons.md-24 { 
    font-size: 24px; 
    height: 24px;
    width: 24px;
}
.material-icons.md-30 { 
    font-size: 30px; 
    height: 30px;
    width: 30px;
}
.material-icons.md-32 { 
    font-size: 32px; 
    height: 32px;
    width: 32px;
}
.material-icons.md-36 { 
    font-size: 36px; 
    height: 36px;
    width: 36px;
}
.material-icons.md-48 { 
    font-size: 48px; 
    height: 48px;
    width: 48px;
}
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54); 
}
.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26); 
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}
.material-icons.md-light.md-inactive { 
    color: rgba(255, 255, 255, 0.3); 
}

/* Spinner global styles */
.loading-overlay-container {
    position: relative;
    .mat-dialog-container {
        position: relative;
    }
}

/* Global class */
.decoration-none {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}
.cursor-pointer {
    cursor: pointer;
}

h2 {
    color: $app-ligth-color;
}

.page-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-floating {
    position: absolute;
    top: -110px;
    right: 0;
}

.input-full-width {
    width: 100%;
}
