
html {
    cursor: default;
    @include media-breakpoint-down(xs) {
        font-size: 14px;
    }
}
h1 {
    @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
    }
}
h2 {
    color: $app-ligth-color;
    @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
    }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
}

/* Generates a list of fontello sizes*/
.fontello {
    line-height: 1;
    @include generate-fontello-size($fontello-sizes);
}

/* Generates a list of fontello sizes*/
.material-icons {
    @include generate-material-icon-size($material-icon-sizes);
}

/* Spinner global styles */
.loading-overlay-container {
    position: relative;
    .mat-dialog-container {
        position: relative;
    }
}

/* Global class */
.decoration-none {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.bold-text {
    font-weight: bold;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.row.gutters-6 {
    margin-right: 3px;
    margin-left: 3px;
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    }
}
.page {
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-bottom: 75px;
    }
}
.input-full-width {
    width: 100%;
}
.mat-select {
    padding-bottom: 20px;
}
.container {
    @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
    }
}
.mat-mini-fab {
    &.md-mini-fab-basic {
        background-color: #fff;
        color: rgba(0,0,0,.87);
    }
}


/* Modal dialog */
.mat-dialog-container {
    @include media-breakpoint-down(xs) {
        margin: 0 auto;
    }
    .md-dialog-header {
        height: 40px;
        margin-top: -24px;
        margin-right: -24px;
        margin-left: -24px;
        background-color: $app-primary;
        .close-modal {
            width: 40px;
            color: $app-ligth-color;
            border: none;
            background-color: transparent;
        }
        &.default {
            background-color: $app-default-speciality;
        }
        &.aesthetic {
            background-color: $app-aesthetic;
        }
        &.parodontology {
            background-color: $app-parodontology;
        }
        &.pediatrics {
            background-color: $app-pediatrics;
        }
        &.endodontics {
            background-color: $app-endodontics;
        }
        &.orthodontics {
            background-color: $app-orthodontics;
        }
        &.surgery {
            background-color: $app-surgery;
        }
        &.confirmed {
            background-color: $app-confirmed;
        }
        &.unconfirmed {
            background-color: $app-unconfirmed;
        }
        &.arrived {
            background-color: $app-arrived;
        }
        &.current {
            background-color: $app-current;
        }
        &.finished {
            background-color: $app-finished;
        }
        &.late {
            background-color: $app-late;
        }
        &.missing {
            background-color: $app-missing;
        }
        &.canceled {
            background-color: $app-canceled;
        }
        &.urgent {
            background-color: $app-urgent;
        }
    }
    .mat-dialog-content {
        padding-top: 24px;
    }
}
.user-menu {
    .mat-menu-item {
        min-width: 150px;
        padding: 0 10px;
        font-size: .9rem;
        i {
            min-width: 37px;
        }
    }
}