// Bootstrap variables 
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Bootstrap variables 
$body-bg: #f3f3f3;
$body-color: #6f6f6f;

// App variables
$app-primary-color: #3f51b5;
$app-ligth-color: #f5f7ff; 
$app-dark-color: #212529;
$app-default-speciality: #3f51b5;
$app-aesthetic: #C457A2;
$app-parodontology: #3cd469;
$app-pediatrics: #FF6F94;
$app-endodontics: #F9DD57;
$app-orthodontics: #8D57C4;
$app-surgery: #37C0FF;