// Bootstrap variables 
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

// Bootstrap variables 
$body-bg: #fafafa;
$body-color: #6f6f6f;

// App variables
$app-primary-color: #3f51b5;
$app-ligth-color: #f5f7ff; 
$app-dark-color: #212529;