<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="patient.doctor.speciality" class="md-dialog-header"></div>
<md-dialog-content>
    <form (ngSubmit)="patientForm.valid && save()" #patientForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="patient.firstName" name="firstName" required #patientFirstName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="patient.lastName" name="lastName" required #patientLastName="ngModel" placeholder="Фамилия">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="patient.phone" name="phone" required #patientPhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="patient.address" name="address" required #patientAddress="ngModel" placeholder="Адрес">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="patient.email" name="email" required #patientEmail="ngModel" placeholder="Е-mail">
            </md-form-field>
        </div>
        <md-select [(ngModel)]="patient.doctor._id" name="doctor" required #patientDoctor="ngModel" placeholder="Лекар" class="input-full-width">
            <md-option *ngFor="let doctor of doctors" [value]="doctor._id">
                {{doctor.firstName}}
            </md-option>
        </md-select>
        {{patient | json}}
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Cancel</button>
    <button *ngIf="data.patientId" md-button (click)="delete()">Delete</button>
    <button md-button (click)="save()" [disabled]="patientForm.invalid">Save</button>
</md-dialog-actions>