<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div class="mat-dialog-header d-flex justify-content-end">
    <button [mat-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<mat-dialog-content>
    <form (ngSubmit)="examinationForm.valid && save()" #examinationForm="ngForm" novalidate>
         <div *ngFor="let procedure of examination.procedures; let i = index; trackBy:trackByIndex">
            <div>
                <mat-form-field class="input-full-width">
                    <mat-select [(ngModel)]="procedure.tooth" name="tooth-{{i}}" required #examinationTooth="ngModel" placeholder="Зъб">
                        <mat-option *ngFor="let tooth of teeth" [value]="tooth.position">{{tooth.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
             <div>
                <mat-form-field class="input-full-width">
                    <mat-select [(ngModel)]="procedure.manipulations" [compareWith]="selectManipulation" [multiple]="true" name="manipulation-{{i}}" required #examinationManipulation="ngModel" placeholder="Манипулация">
                        <mat-option *ngFor="let manipulation of manipulations" [value]="manipulation">
                            {{manipulation.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 
            <div *ngIf="examination.procedures.length > 1" class="d-flex justify-content-end">
                <button (click)="removeProcedure(i)" mat-mini-fab class="mat-mini-fab-basic"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
        <div *ngIf="examinationForm.valid" [ngClass]="{'add-btn-margin': examination.procedures.length > 1}" class="add-btn">
            <button (click)="addProcedure()" mat-mini-fab class="mat-mini-fab-basic"><mat-icon>add</mat-icon></button>            
        </div>  
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <app-modal-action [formIsDisabled]="examinationForm.invalid" [showDeleteBtn]="!!data.examinationId" [data]="examination" [dataId]="data.examinationId" [type]="'examination'" (toggleLoadingOverlayEvent)="toggleLoadingOverlay($event)" (modalCloseEvent)="modalClose($event)"></app-modal-action>
</mat-dialog-actions>
