<div class="price-list page">
    <app-floating-button *ngIf="!isRoleUser" [tutorialText]="tutorialText" (floatingButtonActionEvent)="addManipulation()"></app-floating-button>
    <app-search [placeholderText]="'Търси в манипулации'" (searchEvent)="search($event)"></app-search>
    <div class="page-container container">
        <ul class="list-unstyled">
            <li *ngFor="let manipulation of manipulations">
                <app-manipulation [manipulation]="manipulation" [isRoleUser]="isRoleUser" (editManipulationEvent)="editManipulation($event)"></app-manipulation>
            </li>
        </ul>
        <app-pagination *ngIf="showPaginaion" [paginationConfig]="paginationConfig" (changePageEvent)="getManipulationsByPage($event)"></app-pagination>
    </div>
</div>