<div class="price-lis page">
    <app-floating-button *ngIf="!isRoleUser" [tutorialText]="tutorialText" (openModalDialog)="addManipulation()"></app-floating-button>
    <div class="page-container container">
        <ul class="list-unstyled">
            <li *ngFor="let manipulation of manipulations">
                <app-manipulation [manipulation]="manipulation" [isRoleUser]="isRoleUser" (editManipulation)="editManipulation($event)"></app-manipulation>
            </li>
            <div class="d-flex justify-content-end align-items-center mt-4">
                <button (click)="changePage('prev')" [disabled]="page <= 1" md-mini-fab class="md-mini-fab-basic">
                    <i class="fontello ft-14 icon-arrow-left"></i>
                </button>
                <span class="ml-2 mr-2">{{page}} / {{countPage}}</span>
                <button (click)="changePage('next')" [disabled]="page === countPage" md-mini-fab class="md-mini-fab-basic">
                    <i class="fontello ft-14 icon-arrow-right"></i>
                </button>
            </div>
        </ul>
    </div>
</div>