<div class="dental-offices page">
    <app-floating-button *ngIf="!isRoleUser" [tutorialText]="tutorialText" (floatingButtonActionEvent)="addOffice()"></app-floating-button>
    <div class="page-container">
        <ul class="list-unstyled row gutters-6">
            <li *ngFor="let office of offices" class="col-6 col-md-4 col-lg-3">
                <app-office [office]="office" [isRoleUser]="isRoleUser" (editOfficeEvent)="editOffice($event)"></app-office>
            </li>
        </ul>
    </div>
</div>