@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.reception {
    nav {
        margin-top: -50px;
        background-color: rgba(#fff, .4);
        min-height: 50px;
        li {
            @include media-breakpoint-down(sm) {
                flex: 1;
            }
            a {
                min-height: 50px;
                height: 100%;
                padding: 5px 30px;
                color: $app-ligth-color;
                transition: color .4s;
                @include media-breakpoint-down(sm) {
                    padding: 5px;
                }
                &:hover {
                    color: darken($app-ligth-color, 10%);
                }
                &.active {
                    border-bottom: 2px solid $app-primary;
                }
                span {
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }
            &.full-width {
                flex: 1;
                a {
                    padding-left: 5px;
                    padding-right: 5px;
                    span {
                        @include media-breakpoint-down(lg) {
                            display: none;
                        }
                    }
                }
                
            }
        }

    }
    .page-container {
        width: 700px;
        max-width: 100%;
        padding: 45px 15px 15px 15px;
        > div {
            border-radius: 5px;
            background-color: #fff;
        }
        //<time>
        .timeline-date {
            padding-right: 15px;
            padding-bottom: 30px;
            padding-left: 15px;
            .btn-datepicker {
                margin-top: -28px;
            }
            .reception-data {
                font-size: 2rem;
            }
        }

    }
}
