<div class="reception">
    <nav class="reception-nav">
        <ul class="d-flex justify-content-center list-unstyled">
            <li *ngFor="let doctor of doctors" [ngClass]="{'full-width': doctors?.length > 3}">
                <a (click)="getAppointmentByDoctor(doctor._id, false)" class="cursor-pointer decoration-none d-flex justify-content-center align-items-center">
                    <app-avatar [color]="doctor.speciality" [firstName]="doctor.firstName" [lastName]="doctor.lastName"></app-avatar>
                    <span class="d-none d-md-block ml-2">др. {{doctor.lastName}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="page">
        <app-floating-button *ngIf="doctors?.length > 0" [tutorialText]="tutorialText" (openModalDialog)="addAppointment()"></app-floating-button>
        <div class="page-container">
            <div *ngIf="doctors?.length > 0">
                <md-form-field class="example-full-width">
                    <input mdInput [mdDatepicker]="datepicker" (dateChange)="changeDate($event.value)" readonly [value]="receptionData" placeholder="Дата">
                    <md-datepicker-toggle mdSuffix [for]="datepicker"></md-datepicker-toggle>
                    <md-datepicker touchUi="true" #datepicker></md-datepicker>
                </md-form-field>
            </div>
            <ul class="list-unstyled row gutters-6">
                <li *ngFor="let appointment of appointments">
                    <div>-----------------------------------------------</div>
                    <app-appointment [appointment]="appointment" (editAppointment)="editAppointment($event)"></app-appointment>
                </li>
            </ul>
        </div>
    </div>
</div>


