<div class="reception">
    <nav class="reception-nav">
        <ul class="d-flex justify-content-center list-unstyled">
            <ng-container *ngFor="let doctor of doctors">
                <li *ngIf="doctor.role !== 'reception'" [ngClass]="{'full-width': doctors?.length > 4}">
                    <a (click)="getAppointmentByDoctor(doctor._id, false)" [ngClass]="{'active': activeDoctor === doctor._id}" class="cursor-pointer decoration-none d-flex justify-content-center align-items-center">
                        <app-avatar [color]="doctor.speciality" [firstName]="doctor.firstName" [lastName]="doctor.lastName"></app-avatar>
                        <span class="ml-2">д-р {{doctor.lastName}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </nav>
    <div class="page">
        <app-floating-button *ngIf="doctors?.length > 1 && (receptionDataDay >= todayDate)" [tutorialText]="tutorialText" (floatingButtonActionEvent)="addAppointment()"></app-floating-button>
        <div class="page-container mx-auto">
            <div>
                <div *ngIf="doctors?.length > 1" class="timeline-date">
                    <mat-form-field class="example-full-width d-none">
                        <input matInput [matDatepicker]="datepicker" (dateChange)="changeDate($event.value)" readonly [value]="receptionData" placeholder="Дата">
                    </mat-form-field>
                    <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
                    <div class="d-flex flex-column align-items-center">
                        <a (click)="datepicker.open()" mat-fab class="btn-datepicker">
                            <i class="fontello ft-24 icon-calendar"></i>
                        </a>
                        <span class="reception-data mt-2">{{receptionData | date: 'dd/MM/y'}}</span>
                    </div>
                </div>
                <div class="timeline">
                    <ul class="list-unstyled">
                        <li *ngFor="let appointment of appointments">
                            <app-appointment [appointment]="appointment" (editAppointmentEvent)="editAppointment($event)"></app-appointment>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


