<div class="reception">
    <nav class="reception-nav">
        <ul class="d-flex justify-content-center list-unstyled">
            <li *ngFor="let doctor of doctors" [ngClass]="{'full-width': doctors?.length > 3}">
                <a (click)="getAppointmentByDoctor(doctor._id, false)" class="cursor-pointer decoration-none d-flex justify-content-center align-items-center">
                    <app-avatar [color]="doctor.speciality" [firstName]="doctor.firstName" [lastName]="doctor.lastName"></app-avatar>
                    <span class="d-none d-md-block ml-2">др. {{doctor.lastName}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="page">
        <app-floating-button *ngIf="doctors?.length > 0" [tutorialText]="tutorialText" (openModalDialog)="addAppointment()"></app-floating-button>
        <div class="page-container mx-auto">
            <div>
                <div *ngIf="doctors?.length > 0" class="timeline-date">
                    <md-form-field class="example-full-width d-none">
                        <input mdInput [mdDatepicker]="datepicker" (dateChange)="changeDate($event.value)" readonly [value]="receptionData" placeholder="Дата">
                    </md-form-field>
                    <md-datepicker touchUi="true" #datepicker></md-datepicker>
                    <div class="d-flex flex-column align-items-center">
                        <a (click)="datepicker.open()" md-fab class="btn-datepicker">
                            <md-icon>date_range</md-icon>
                        </a>
                        <span class="reception-data mt-2">{{receptionData | date: 'dd/MM/y'}}</span>
                    </div>
                </div>
                <div class="timeline">
                    <ul class="list-unstyled">
                        <li *ngFor="let appointment of appointments">
                            <app-appointment [appointment]="appointment" (editAppointment)="editAppointment($event)"></app-appointment>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


