@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.appointment {
    padding-left: 15px;
    padding-right: 15px;
    .appointment-fbox {
        position: relative;
        div {
            width: 60px;
            height: 60px;  
            background-color: $app-default-status;
            color: #fff;
            @include media-breakpoint-down(xs) {
                width: 55px;
                height: 55px;
            }
        }
        span {
            position: absolute;
            top: 70px;
            bottom: 10px; 
            left: 50%;
            width: 2px;
            margin-left: -1px;
            background: #d8d8d8;   
        }
    }
    .appointment-sbox {
        padding-bottom: 50px;
        .phone {
            flex: 1;
        }
        time {
            color: #48b8f3;
        }
        h5 {
            color: $app-default-status;
        }
    }
    &.confirmed {
        .appointment-fbox {
           div {
              background-color: $app-confirmed; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-confirmed;
                } 
            }
        }
    }
    &.unconfirmed {
        .appointment-fbox {
           div {
              background-color: $app-unconfirmed; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-unconfirmed;
                }
            }
        }
    }
    &.arrived {
        .appointment-fbox {
           div {
              background-color: $app-arrived; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-arrived;
                }
            }
        }
    }
    &.current {
        .appointment-fbox {
           div {
              background-color: $app-current; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-current;
                }
            }
        }
    }
    &.finished {
        .appointment-fbox {
           div {
              background-color: $app-finished; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-finished;
                }
            }
        }
    }
    &.late {
        .appointment-fbox {
           div {
              background-color: $app-late; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-late;
                }
            }
        }
    }
    &.missing {
        .appointment-fbox {
           div {
              background-color: $app-missing; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-missing;
                }
            }
        }
    }
    &.canceled {
        .appointment-fbox {
           div {
              background-color: $app-canceled; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-canceled;
                }
            }
        }
    }
    &.urgent {
        .appointment-fbox {
           div {
              background-color: $app-urgent; 
           }
        }
        .appointment-sbox {
            h5 {
                a {
                    color: $app-urgent;
                }
            }
        }
    }
}