@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.appointment {
    padding-left: 15px;
    padding-right: 15px;
    .appointment-fbox {
        position: relative;
        div {
            width: 55px;
            height: 55px;  
            background-color: $app-default-status;
            color: #fff;
            @include media-breakpoint-down(xs) {
                width: 45px;
                height: 45px;
            }
            i {
                @include media-breakpoint-down(xs) {
                    font-size: 22px;
                }  
            }
        }
        span {
            position: absolute;
            top: 70px;
            bottom: 10px; 
            left: 50%;
            width: 2px;
            margin-left: -1px;
            background: #d8d8d8;  
            @include media-breakpoint-down(xs) {
                top: 55px;
            } 
        }
    }
    .appointment-sbox {
        flex: 1;
        padding-bottom: 50px;
        padding-left: 15px;
        @include media-breakpoint-down(xs) {
            padding-left: 10px;
        } 
        .phone {
            flex: 1;
        }
        time {
            color: #48b8f3;
        }
        h5 {
            color: $app-default-status;
            @include media-breakpoint-down(xs) {
                margin-top: 3px;
            }
        }
    }
}