.appointment {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: grey;
    &.appointment-start-time-8 {
        top: 0;
    }
    &.appointment-start-time-9 {
        top: 100px;
    }
    &.appointment-start-time-10 {
        top: 200px;
    }
    &.appointment-start-time-11 {
        top: 300px;
    }
    &.appointment-start-time-12 {
        top: 400px;
    }
    &.appointment-start-time-13 {
        top: 500px;
    }
    &.appointment-start-time-14 {
        top: 600px;
    }
    &.appointment-start-time-15 {
        top: 700px;
    }
    &.appointment-start-time-16 {
        top: 800px;
    }
    &.appointment-start-time-17 {
        top: 900px;
    }
    &.appointment-start-time-18 {
        top: 1000px;
    }
    &.appointment-start-time-19 {
        top: 1100px;
    }
    &.appointment-duration-1 {
        height: 100px;
    }
    &.appointment-duration-2 {
        height: 200px;
    }
    &.appointment-duration-3 {
        height: 300px;
    }
    &.appointment-duration-4 {
        height: 400px;
    }
    &.appointment-duration-5 {
        height: 500px;
    }
    &.appointment-duration-6 {
        height: 600px;
    }
    &.appointment-duration-7 {
        height: 700px;
    }
    &.appointment-duration-8 {
        height: 800px;
    }
    &.appointment-duration-9 {
        height: 900px;
    }
    &.appointment-duration-10 {
        height: 1000px;
    }
    &.appointment-duration-11 {
        height: 1100px;
    }
    &.appointment-duration-12 {
        height: 1200px;
    }
}