@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.manipulation {
    $manipulation-darken: 10%;
    min-height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #b9b9b9;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
        min-height: 130px;
    }
    .manipulation-fbox {
        padding: 15px;
        color: $app-ligth-color;
        > div {
            width: 60px;
            height: 60px;
        }
    }
    &.default {
        .manipulation-fbox {
            background-color: $app-default-speciality;
            > div {
                background-color: darken($app-default-speciality, $manipulation-darken);
            }
        }
    }
    &.aesthetic {
        .manipulation-fbox {
            background-color: $app-aesthetic;
            > div {
                background-color: darken($app-aesthetic, $manipulation-darken);
            }
        }
    }
    &.parodontology {
        .manipulation-fbox {
            background-color: $app-parodontology;
            > div {
                background-color: darken($app-parodontology, $manipulation-darken);
            }
        }
    }
    &.pediatrics {
        .manipulation-fbox {
            background-color: $app-pediatrics;
            > div {
                background-color: darken($app-pediatrics, $manipulation-darken);
            }
        }
    }
    &.endodontics {
        .manipulation-fbox {
            background-color: $app-endodontics;
            > div {
                background-color: darken($app-endodontics, $manipulation-darken);
            }
        }
    }
    &.orthodontics {
        .manipulation-fbox {
            background-color: $app-orthodontics;
            > div {
                background-color: darken($app-orthodontics, $manipulation-darken);
            }
        }
    }
    &.surgery {
        .manipulation-fbox {
            background-color: $app-surgery;
            > div {
                background-color: darken($app-surgery, $manipulation-darken);
            }
        }
    }
    .manipulation-sbox {
        padding: 15px;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}