<a (click)="!isRoleUser && editManipulation()" [ngClass]="manipulation.type" class="manipulation cursor-pointer d-flex">
    <div class="manipulation-fbox col-4 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center rounded-circle">
            <i [ngClass]="manipulationIcon" class="fontello ft-40"></i>
        </div>
    </div>
    <div class="manipulation-sbox col d-flex flex-column justify-content-between">
         <h5>{{manipulation.name}}</h5> 
        <span>{{manipulation.price | number:'2.2'}} лв.</span>
    </div>
</a>
