<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="user.speciality" class="mat-dialog-header"></div>
<mat-dialog-content>
    <form (ngSubmit)="userForm.valid && save()" #userForm="ngForm" novalidate>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [ngModel]="readonlyUser.firstName" name="firstName" readonly #userFirstName="ngModel" placeholder="Име">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [ngModel]="readonlyUser.lastName" name="lastName" readonly #userLastName="ngModel" placeholder="Фамилия">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.egn" name="egn" required #userEgn="ngModel" placeholder="ЕГН">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.phone" name="phone" required #userPhone="ngModel" placeholder="Телефон">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.address" name="address" required #userAddress="ngModel" placeholder="Адрес">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [ngModel]="readonlyUser.speciality | specialityConverter" readonly name="speciality" #userSpeciality="ngModel" placeholder="Специалност">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [ngModel]="readonlyUser.email" readonly name="email" #userEmail="ngModel" placeholder="Е-mail">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <button mat-button [mat-dialog-close]="'cancel'" mat-raised-button>Затвори</button>
    <button mat-button (click)="save()" [disabled]="userForm.invalid" mat-raised-button>Запази</button>
</mat-dialog-actions>

