<md-dialog-content>
    <form (ngSubmit)="officeForm.valid && save()" #officeForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="office.code" name="code" required #officeCode="ngModel" placeholder="Код">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="office.phone" name="phone" required #officePhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="office.color" name="color" required #officeColor="ngModel" placeholder="Цвят">
            </md-form-field>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Cancel</button>
    <button *ngIf="data.officeId" md-button (click)="delete()">Delete</button>
    <button md-button (click)="save()" [disabled]="officeForm.invalid">Save</button>
</md-dialog-actions>

