<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="office.type" class="md-dialog-header"></div>
<md-dialog-content>
    <form (ngSubmit)="officeForm.valid && save()" #officeForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="office.name" name="name" required #officeName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="office.phone" name="phone" required #officePhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div>
            <md-select [(ngModel)]="office.type" name="type" required #officeType="ngModel" placeholder="Тип" class="input-full-width">
                <md-option *ngFor="let speciality of specialities" [value]="speciality.type">{{speciality.name}}</md-option>
            </md-select>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Затвори</button>
    <button *ngIf="data.officeId" md-button (click)="delete()">Изтрий</button>
    <button md-button (click)="save()" [disabled]="officeForm.invalid">Запази</button>
</md-dialog-actions>

