<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="office.type" class="mat-dialog-header d-flex justify-content-end">
    <button [mat-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<mat-dialog-content>
    <form (ngSubmit)="officeForm.valid && save()" #officeForm="ngForm" novalidate>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="office.name" name="name" required #officeName="ngModel" placeholder="Име">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="office.phone" type="tel" name="phone" required #officePhone="ngModel" placeholder="Телефон">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="office.type" name="type" required #officeType="ngModel" placeholder="Тип">
                    <mat-option *ngFor="let speciality of specialities" [value]="speciality.type">{{speciality.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <app-modal-action [formIsDisabled]="officeForm.invalid" [showDeleteBtn]="!!data.officeId" [data]="office" [dataId]="data.officeId" [type]="'office'" (toggleLoadingOverlayEvent)="toggleLoadingOverlay($event)" (modalCloseEvent)="modalClose($event)"></app-modal-action>
</mat-dialog-actions>