<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="manipulation.type" class="md-dialog-header"></div>
<md-dialog-content>
    <form (ngSubmit)="manipulationForm.valid && save()" #manipulationForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="manipulation.name" name="name" required #manipulationName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-select [(ngModel)]="manipulation.type" name="type" required #manipulationType="ngModel" placeholder="Тип" class="input-full-width">
                <md-option *ngFor="let speciality of specialities" [value]="speciality.type">{{speciality.name}}</md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="manipulation.price" name="price" required #manipulationPrice="ngModel" placeholder="Цена" type="number">
            </md-form-field>
        </div>
        <div>
            <md-slider (change)="changePrice($event.value)" [value]="manipulation.price" max="1000" min="0" step="10" thumbLabel="true" tickInterval="10" class="input-full-width"></md-slider>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Затвори</button>
    <button *ngIf="data.manipulationId" md-button (click)="delete()">Изтрий</button>
    <button md-button (click)="save()" [disabled]="manipulationForm.invalid">Запази</button>
</md-dialog-actions>
