<div>
    <div (click)="isAdmin && edit()" class="clinic-circle clinic-circle-name cursor-pointer rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-protection"></i>
            <span>{{clinic.name}}</span>
        </div>
    </div>
    <div *ngIf="clinic.offices" class="clinic-circle clinic-circle-offices rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-chair-fill"></i>
            <span>{{clinic.offices.length}}</span>
        </div>
    </div>
    <div *ngIf="clinic.patients" class="clinic-circle clinic-circle-patients rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-family"></i>
            <span>{{clinic.patients.length}}</span>
        </div>
    </div>
    <div *ngIf="clinic.city" class="clinic-circle clinic-circle-address rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-address"></i>
            <span>{{clinic.city}}</span>
        </div>
    </div>
    <div *ngIf="clinic.phone" class="clinic-circle clinic-circle-phone rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-phone"></i>
            <span>{{clinic.phone}}</span>
        </div>
    </div>
    <div *ngIf="clinic.doctors" class="clinic-circle clinic-circle-staff rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-doctor"></i>
            <span>{{clinic.doctors.length}}</span>
        </div>
    </div>
    <div *ngIf="clinic.email" class="clinic-circle clinic-circle-email rounded-circle">
        <div class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <i class="fontello icon-envelope"></i>
            <span>{{clinic.email}}</span>
        </div>
    </div>
</div>