<div [ngClass]="patient.doctor?.speciality" class="patient-details page">
    <app-floating-button (floatingButtonActionEvent)="addExamination()"></app-floating-button>
    <div class="page-container container">
        <div class="d-flex">
            <div class="patient-details-fbox"></div>
            <div class="patient-details-sbox">
                <a (click)="editPatient()" class="patient-details-personal cursor-pointer d-block decoration-none">
                    <div class="row">
                        <div class="patient-details-icon col-md-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <i class="fontello icon-user-2"></i>
                            </div>
                        </div>
                        <div class="patient-details-info col-md-8">
                            <header>
                                <h3>{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}</h3>
                            </header>
                            <section>
                                <ul class="list-unstyled">
                                    <li>
                                        <p><span class="bold-text text-uppercase"><i>Телефон</i></span> {{patient.phone}}</p>
                                    </li>
                                    <li *ngIf="patient.address">
                                        <p><span class="bold-text text-uppercase"><i>Адрес</i></span> {{patient.address}}</p>
                                    </li>
                                    <li *ngIf="patient.email">
                                        <p><span class="bold-text text-uppercase"><i>E-mail</i></span> {{patient.email}}</p>
                                    </li>
                                    <li *ngIf="patient.doctor" >
                                        <p class="doctor"><span class="bold-text"><i>Лекар</i></span> д-р {{patient.doctor.lastName}}</p>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </a>
                <app-examinations [patientId]="patientId" #examinations></app-examinations>
            </div>
        </div>
    </div>
</div>