<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="user.speciality" class="mat-dialog-header d-flex justify-content-end">
    <button [mat-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<mat-dialog-content>
    <form (ngSubmit)="userForm.valid && save()" #userForm="ngForm" novalidate>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [value]="user.firstName" name="firstName" readonly placeholder="Име">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [value]="user.lastName" name="lastName" readonly placeholder="Фамилия">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.egn" name="egn" required #userEgn="ngModel" placeholder="ЕГН">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.phone" name="phone" required #userPhone="ngModel" placeholder="Телефон">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="user.address" name="address" required #userAddress="ngModel" placeholder="Адрес">
            </mat-form-field>
        </div>
        <div *ngIf="!isRoleReception">
            <mat-form-field class="input-full-width">
                <input matInput [value]="user.speciality?.name" readonly name="speciality" placeholder="Специалност">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [ngModel]="user.email" readonly name="email" #userEmail="ngModel" placeholder="Е-mail">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <app-modal-action [formIsDisabled]="userForm.invalid" [showDeleteBtn]="false" [data]="user" [dataId]="user._id" [type]="'user'" (toggleLoadingOverlayEvent)="toggleLoadingOverlay($event)" (modalCloseEvent)="modalClose($event)"></app-modal-action>
</mat-dialog-actions>

