    /*
    Flaticon icon font: Flaticon
    Creation date: 28/11/2016 11:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ambulance:before { content: "\f100"; }
.flaticon-ampoul:before { content: "\f101"; }
.flaticon-band-aid:before { content: "\f102"; }
.flaticon-blind:before { content: "\f103"; }
.flaticon-blood-transfusion:before { content: "\f104"; }
.flaticon-bonnet:before { content: "\f105"; }
.flaticon-brackets:before { content: "\f106"; }
.flaticon-brain:before { content: "\f107"; }
.flaticon-breasts:before { content: "\f108"; }
.flaticon-broken-tooth:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-cardiogram-1:before { content: "\f10b"; }
.flaticon-caries:before { content: "\f10c"; }
.flaticon-colon:before { content: "\f10d"; }
.flaticon-compress:before { content: "\f10e"; }
.flaticon-condom:before { content: "\f10f"; }
.flaticon-crutch:before { content: "\f110"; }
.flaticon-deaf:before { content: "\f111"; }
.flaticon-defribillator:before { content: "\f112"; }
.flaticon-dental-drill:before { content: "\f113"; }
.flaticon-dental-floss:before { content: "\f114"; }
.flaticon-dentist:before { content: "\f115"; }
.flaticon-dentist-tools:before { content: "\f116"; }
.flaticon-doctor:before { content: "\f117"; }
.flaticon-drop-counter:before { content: "\f118"; }
.flaticon-ear:before { content: "\f119"; }
.flaticon-edema:before { content: "\f11a"; }
.flaticon-eye:before { content: "\f11b"; }
.flaticon-eye-drops:before { content: "\f11c"; }
.flaticon-fertilization:before { content: "\f11d"; }
.flaticon-fetus:before { content: "\f11e"; }
.flaticon-first-aid-kit:before { content: "\f11f"; }
.flaticon-hair:before { content: "\f120"; }
.flaticon-headache:before { content: "\f121"; }
.flaticon-heart:before { content: "\f122"; }
.flaticon-helicopter:before { content: "\f123"; }
.flaticon-hospital:before { content: "\f124"; }
.flaticon-hospital-1:before { content: "\f125"; }
.flaticon-hospital-bed:before { content: "\f126"; }
.flaticon-inhaler:before { content: "\f127"; }
.flaticon-injury:before { content: "\f128"; }
.flaticon-injury-1:before { content: "\f129"; }
.flaticon-injury-2:before { content: "\f12a"; }
.flaticon-kidney:before { content: "\f12b"; }
.flaticon-lips:before { content: "\f12c"; }
.flaticon-liver:before { content: "\f12d"; }
.flaticon-lungs:before { content: "\f12e"; }
.flaticon-mask:before { content: "\f12f"; }
.flaticon-medicine:before { content: "\f130"; }
.flaticon-medicine-1:before { content: "\f131"; }
.flaticon-medicine-2:before { content: "\f132"; }
.flaticon-medicine-3:before { content: "\f133"; }
.flaticon-medicine-4:before { content: "\f134"; }
.flaticon-medicine-5:before { content: "\f135"; }
.flaticon-nose:before { content: "\f136"; }
.flaticon-nose-1:before { content: "\f137"; }
.flaticon-optical:before { content: "\f138"; }
.flaticon-oxygen:before { content: "\f139"; }
.flaticon-pharmacy:before { content: "\f13a"; }
.flaticon-pills:before { content: "\f13b"; }
.flaticon-pills-1:before { content: "\f13c"; }
.flaticon-pimples:before { content: "\f13d"; }
.flaticon-plastic-surgery:before { content: "\f13e"; }
.flaticon-pregnancy-test:before { content: "\f13f"; }
.flaticon-prothesis:before { content: "\f140"; }
.flaticon-ribbon:before { content: "\f141"; }
.flaticon-sample:before { content: "\f142"; }
.flaticon-sample-1:before { content: "\f143"; }
.flaticon-scalpel:before { content: "\f144"; }
.flaticon-scissors:before { content: "\f145"; }
.flaticon-smile:before { content: "\f146"; }
.flaticon-sore-throat:before { content: "\f147"; }
.flaticon-sperm:before { content: "\f148"; }
.flaticon-sperm-1:before { content: "\f149"; }
.flaticon-stethoscope:before { content: "\f14a"; }
.flaticon-stomach:before { content: "\f14b"; }
.flaticon-stretcher:before { content: "\f14c"; }
.flaticon-syringe:before { content: "\f14d"; }
.flaticon-syringe-1:before { content: "\f14e"; }
.flaticon-tablets:before { content: "\f14f"; }
.flaticon-tablets-1:before { content: "\f150"; }
.flaticon-thermometer:before { content: "\f151"; }
.flaticon-tongs:before { content: "\f152"; }
.flaticon-tonometer:before { content: "\f153"; }
.flaticon-tooth:before { content: "\f154"; }
.flaticon-tooth-1:before { content: "\f155"; }
.flaticon-tooth-2:before { content: "\f156"; }
.flaticon-tooth-3:before { content: "\f157"; }
.flaticon-tooth-4:before { content: "\f158"; }
.flaticon-tooth-5:before { content: "\f159"; }
.flaticon-tooth-6:before { content: "\f15a"; }
.flaticon-toothbrush:before { content: "\f15b"; }
.flaticon-toothbrush-1:before { content: "\f15c"; }
.flaticon-ultrasonography:before { content: "\f15d"; }
.flaticon-urine:before { content: "\f15e"; }
.flaticon-uterus:before { content: "\f15f"; }
.flaticon-walker:before { content: "\f160"; }
.flaticon-wheelchair:before { content: "\f161"; }
.flaticon-x-ray:before { content: "\f162"; }
.flaticon-x-ray-1:before { content: "\f163"; }
    
    $font-Flaticon-ambulance: "\f100";
    $font-Flaticon-ampoul: "\f101";
    $font-Flaticon-band-aid: "\f102";
    $font-Flaticon-blind: "\f103";
    $font-Flaticon-blood-transfusion: "\f104";
    $font-Flaticon-bonnet: "\f105";
    $font-Flaticon-brackets: "\f106";
    $font-Flaticon-brain: "\f107";
    $font-Flaticon-breasts: "\f108";
    $font-Flaticon-broken-tooth: "\f109";
    $font-Flaticon-cardiogram: "\f10a";
    $font-Flaticon-cardiogram-1: "\f10b";
    $font-Flaticon-caries: "\f10c";
    $font-Flaticon-colon: "\f10d";
    $font-Flaticon-compress: "\f10e";
    $font-Flaticon-condom: "\f10f";
    $font-Flaticon-crutch: "\f110";
    $font-Flaticon-deaf: "\f111";
    $font-Flaticon-defribillator: "\f112";
    $font-Flaticon-dental-drill: "\f113";
    $font-Flaticon-dental-floss: "\f114";
    $font-Flaticon-dentist: "\f115";
    $font-Flaticon-dentist-tools: "\f116";
    $font-Flaticon-doctor: "\f117";
    $font-Flaticon-drop-counter: "\f118";
    $font-Flaticon-ear: "\f119";
    $font-Flaticon-edema: "\f11a";
    $font-Flaticon-eye: "\f11b";
    $font-Flaticon-eye-drops: "\f11c";
    $font-Flaticon-fertilization: "\f11d";
    $font-Flaticon-fetus: "\f11e";
    $font-Flaticon-first-aid-kit: "\f11f";
    $font-Flaticon-hair: "\f120";
    $font-Flaticon-headache: "\f121";
    $font-Flaticon-heart: "\f122";
    $font-Flaticon-helicopter: "\f123";
    $font-Flaticon-hospital: "\f124";
    $font-Flaticon-hospital-1: "\f125";
    $font-Flaticon-hospital-bed: "\f126";
    $font-Flaticon-inhaler: "\f127";
    $font-Flaticon-injury: "\f128";
    $font-Flaticon-injury-1: "\f129";
    $font-Flaticon-injury-2: "\f12a";
    $font-Flaticon-kidney: "\f12b";
    $font-Flaticon-lips: "\f12c";
    $font-Flaticon-liver: "\f12d";
    $font-Flaticon-lungs: "\f12e";
    $font-Flaticon-mask: "\f12f";
    $font-Flaticon-medicine: "\f130";
    $font-Flaticon-medicine-1: "\f131";
    $font-Flaticon-medicine-2: "\f132";
    $font-Flaticon-medicine-3: "\f133";
    $font-Flaticon-medicine-4: "\f134";
    $font-Flaticon-medicine-5: "\f135";
    $font-Flaticon-nose: "\f136";
    $font-Flaticon-nose-1: "\f137";
    $font-Flaticon-optical: "\f138";
    $font-Flaticon-oxygen: "\f139";
    $font-Flaticon-pharmacy: "\f13a";
    $font-Flaticon-pills: "\f13b";
    $font-Flaticon-pills-1: "\f13c";
    $font-Flaticon-pimples: "\f13d";
    $font-Flaticon-plastic-surgery: "\f13e";
    $font-Flaticon-pregnancy-test: "\f13f";
    $font-Flaticon-prothesis: "\f140";
    $font-Flaticon-ribbon: "\f141";
    $font-Flaticon-sample: "\f142";
    $font-Flaticon-sample-1: "\f143";
    $font-Flaticon-scalpel: "\f144";
    $font-Flaticon-scissors: "\f145";
    $font-Flaticon-smile: "\f146";
    $font-Flaticon-sore-throat: "\f147";
    $font-Flaticon-sperm: "\f148";
    $font-Flaticon-sperm-1: "\f149";
    $font-Flaticon-stethoscope: "\f14a";
    $font-Flaticon-stomach: "\f14b";
    $font-Flaticon-stretcher: "\f14c";
    $font-Flaticon-syringe: "\f14d";
    $font-Flaticon-syringe-1: "\f14e";
    $font-Flaticon-tablets: "\f14f";
    $font-Flaticon-tablets-1: "\f150";
    $font-Flaticon-thermometer: "\f151";
    $font-Flaticon-tongs: "\f152";
    $font-Flaticon-tonometer: "\f153";
    $font-Flaticon-tooth: "\f154";
    $font-Flaticon-tooth-1: "\f155";
    $font-Flaticon-tooth-2: "\f156";
    $font-Flaticon-tooth-3: "\f157";
    $font-Flaticon-tooth-4: "\f158";
    $font-Flaticon-tooth-5: "\f159";
    $font-Flaticon-tooth-6: "\f15a";
    $font-Flaticon-toothbrush: "\f15b";
    $font-Flaticon-toothbrush-1: "\f15c";
    $font-Flaticon-ultrasonography: "\f15d";
    $font-Flaticon-urine: "\f15e";
    $font-Flaticon-uterus: "\f15f";
    $font-Flaticon-walker: "\f160";
    $font-Flaticon-wheelchair: "\f161";
    $font-Flaticon-x-ray: "\f162";
    $font-Flaticon-x-ray-1: "\f163";