<div class="patients page-container">
    <div class="button-floating-container container">
        <div class="button-floating">
            <a (click)="addPatient()" md-fab>
                <md-icon>add</md-icon>
            </a>
        </div>
    </div>
    <div>
        <ul class="list-unstyled row gutters-6">
            <li *ngFor="let patient of patients" class="col-2 col-md-4">
                <app-patient [patient]="patient" (editPatient)="editPatient($event)"></app-patient>
            </li>
        </ul>
    </div>
</div>
