@import "~assets/styles/variables";

.patient {
    position: relative;
    min-height: 250px;
    height: 100%;
    padding: 25px;
    background-color: #fff;
    overflow: hidden;
    .patient-fbox {
        padding-right: 100px;
        span {
            .mat-icon {
                margin-right: 5px;
            }
        }
    }
    .patient-sbox {
        position: absolute;
        top: -80px;
        right: -130px;
        width: 450px;
        height: 230px;
        background-color: #c3c3c3;
        transform: rotate(45deg); 
    }
    &.default {
        .patient-sbox {
            background-color: $app-default-speciality;
        }
    }
    &.aesthetic {
        .patient-sbox {
            background-color: $app-aesthetic;
        }
    }
    &.parodontology {
        .patient-sbox {
            background-color: $app-parodontology;
        }
    }
    &.pediatrics {
        .patient-sbox {
            background-color: $app-pediatrics;
        }
    }
    &.endodontics {
        .patient-sbox {
            background-color: $app-endodontics;
        }
    }
    &.orthodontics {
        .patient-sbox {
            background-color: $app-orthodontics;
        }
    }
    &.surgery {
        .patient-sbox {
            background-color: $app-surgery;
        }
    }
}