
<a (click)="!isRoleUser && editDoctor()" [ngClass]="doctor.speciality" class="doctor cursor-pointer d-flex flex-column justify-content-end">
	<div class="doctor-fbox d-flex align-items-center">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div class="doctor-icon d-flex justify-content-center align-items-center rounded-circle mr-3">
                    <i class="fontello ft-30 icon-doctor"></i>
                </div>
                <h5 class="mr-2">{{doctor.firstName}} <span *ngIf="!isRoleReception">{{doctor.lastName}}</span></h5>
            </div>
            <mat-icon *ngIf="doctor.active" class="mat-30">visibility</mat-icon>
            <mat-icon *ngIf="!doctor.active" class="mat-30">visibility_off</mat-icon>
        </div>
	</div>
    <div class="doctor-sbox">
        <h6>{{doctor.speciality | specialityConverter}}</h6>
        <span *ngIf="doctor.phone" class="d-flex align-items-center mt-1">
            <i class="fontello icon-phone-fill ft-14"></i>
            {{doctor.phone}}
        </span>
    </div>
</a>

