@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.doctor {
    $doctor-opacity: .6;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .doctor-fbox {
        z-index: 1;
        min-height: 250px;
        color: $app-ligth-color;
        @include media-breakpoint-down(lg) {
            min-height: 200px;
        }
        @include media-breakpoint-down(xs) {
            min-height: 150px;
        }
        > div {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            @include media-breakpoint-down(xs) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .doctor-icon {
            width: 60px;
            height: 60px;
            @include media-breakpoint-down(xs) {
                width: 55px;
                height: 55px;
            }
        }
    }
    .doctor-sbox {
        min-height: 75px;
        z-index: 1;
        padding: 15px;
        color: $app-ligth-color;
        @include media-breakpoint-down(xs) {
            min-height: 70px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &.default {
        background-color: $app-default-speciality;
        &:after {
            background-color: rgba($app-default-speciality, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-default-speciality, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-default-speciality, $doctor-opacity);
        }
    }
    &.aesthetic {
        background-color: $app-aesthetic;
        background-image: url('/assets/images/staff/aesthetic.jpg');
        &:after {
            background-color: rgba($app-aesthetic, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-aesthetic, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-aesthetic, $doctor-opacity);
        }
    }
    &.parodontology {
        background-color: $app-parodontology;
        background-image: url('/assets/images/staff/parodontology.jpeg');
        &:after {
            background-color: rgba($app-parodontology, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-parodontology, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-parodontology, $doctor-opacity);
        }
    }
    &.pediatrics {
        background-color: $app-pediatrics;
        background-image: url('/assets/images/staff/pediatrics.jpg');
        &:after {
            background-color: rgba($app-pediatrics, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-pediatrics, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-pediatrics, $doctor-opacity);
        }
    }
    &.endodontics {
        background-color: $app-endodontics;
        background-image: url('/assets/images/staff/endodontics.jpg');
        &:after {
            background-color: rgba($app-endodontics, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-endodontics, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-endodontics, $doctor-opacity);
        }
    }
    &.orthodontics {
        background-color: $app-orthodontics;
        background-image: url('/assets/images/staff/orthodontics.jpeg');
        &:after {
            background-color: rgba($app-orthodontics, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-orthodontics, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-orthodontics, $doctor-opacity);
        }
    }
    &.surgery {
        background-color: $app-surgery;
        background-image: url('/assets/images/staff/surgery.jpg');
        &:after {
            background-color: rgba($app-surgery, $doctor-opacity);
        }
        .doctor-fbox {
            .doctor-icon {
                background-color: rgba($app-surgery, $doctor-opacity);
            }
        }
        .doctor-sbox {
            background-color: rgba($app-surgery, $doctor-opacity);
        }
    }
}