@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.office {
    $office-darken: 10%;
    position: relative;
    min-height: 250px;
    height: 100%;
    @include media-breakpoint-down(xs) {
        min-height: 185px;
    }
    .office-sbox {
        z-index: 1;
        margin-top: 100px;
        padding: 15px;
        color: $app-ligth-color;
        opacity: .8;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.default {
        background-color: $app-default-speciality;
        &:after {
            background-color: $app-default-speciality;
        }
        .office-sbox {
            $app-aesthetic-darken: darken($app-default-speciality, $office-darken);
            background-color: rgba($app-default-speciality, $office-darken);
        }
    }
    &.aesthetic {
        background-color: $app-aesthetic;
        &:after {
            background-image: url('/assets/icons/svg/tooth.svg');
        }
        .office-sbox {
            $app-aesthetic-darken: darken($app-aesthetic, $office-darken);
            background-color: rgba($app-aesthetic-darken, $office-darken);
        }
    }
    &.parodontology {
        background-color: $app-parodontology;
        &:after {
            background-image: url('/assets/icons/svg/parodontology.svg');
        }
        .office-sbox {
            $app-parodontology-darken: darken($app-parodontology, $office-darken);
            background-color: rgba($app-parodontology-darken, $office-darken);
        }
    }
    &.pediatrics {
        background-color: $app-pediatrics;
        &:after {
            background-image: url('/assets/icons/svg/tooth.svg');
        }
        .office-sbox {
            $app-pediatrics-darken: darken($app-pediatrics, $office-darken);
            background-color: rgba($app-pediatrics-darken, $office-darken);
        }
    }
    &.endodontics {
        background-color: $app-endodontics;
        &:after {
            background-image: url('/assets/icons/svg/endodontics.svg');
        }
        .office-sbox {
            $app-endodontics-darken: darken($app-endodontics, $office-darken);
            background-color: rgba($app-endodontics-darken, $office-darken);
        }
    }
    &.orthodontics {
        background-color: $app-orthodontics;
        &:after {
            background-image: url('/assets/icons/svg/braces.svg');
        }
        .office-sbox {
            $app-orthodontics-darken: darken($app-orthodontics, $office-darken);
            background-color: rgba($app-orthodontics-darken, $office-darken);
        }
    }
    &.surgery {
        background-color: $app-surgery;
        &:after {
            background-image: url('/assets/icons/svg/pliers-2.svg');
        }
        .office-sbox {
            $app-surgery-darken: darken($app-surgery, $office-darken);
            background-color: rgba($app-surgery-darken, $office-darken);
        }
    }
}