@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

.floating-button {
    position: absolute;
    top: -28px;
    right: 10px;
    z-index: 3;
    a {
        position: relative;
        z-index: 4;
        @include media-breakpoint-down(sm) {
            order: 1;
        }
    }
    .floating-button-tutorial {
        width: 300px;
        margin-top: -20px;
        padding-right: 50px;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            margin-top: 0;    
            margin-bottom: -15px;
            padding-right: 30px;
        }
        @include media-breakpoint-down(sm) {
            width: 220px;
        }
        i {
            width: 98px;
            font-size: 70px;
            transform: rotate(62deg);
            @include media-breakpoint-down(sm) {
                order: 1;
                transform: rotate(130deg);
            }
        }
        p {
            margin-top: -10px;
            @include media-breakpoint-down(sm) {
                margin-top: 0;
                margin-bottom: -10px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: auto;
        bottom: 10px;
    }
}