<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div class="md-dialog-header d-flex justify-content-end">
    <button [md-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<md-dialog-content>
    <form (ngSubmit)="clinicForm.valid && save()" #clinicForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="clinic.name" name="name" required #clinicName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="clinic.phone" name="phone" required #doctorPhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="clinic.city" name="city" required #doctorCity="ngModel" placeholder="Град">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="clinic.address" name="address" required #clinicAddress="ngModel" placeholder="Адрес">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="clinic.email" name="email" required #clinicEmail="ngModel" placeholder="E-mail">
            </md-form-field>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button (click)="save()" [disabled]="clinicForm.invalid" md-raised-button>Запази</button>
</md-dialog-actions>

