<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div class="mat-dialog-header d-flex justify-content-end">
    <button [mat-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<mat-dialog-content>
    <form (ngSubmit)="clinicForm.valid && save()" #clinicForm="ngForm" novalidate>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="clinic.name" name="name" required #clinicName="ngModel" placeholder="Име">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="clinic.phone" name="phone" required #doctorPhone="ngModel" placeholder="Телефон">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="clinic.city" name="city" required #doctorCity="ngModel" placeholder="Град">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="clinic.address" name="address" required #clinicAddress="ngModel" placeholder="Адрес">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="clinic.email" name="email" required [pattern]="regexEmail" #clinicEmail="ngModel" placeholder="E-mail">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <app-modal-action [formIsDisabled]="clinicForm.invalid" [showDeleteBtn]="false" [data]="clinic" [dataId]="data.clinicId" [type]="'clinic'" (toggleLoadingOverlayEvent)="toggleLoadingOverlay($event)" (modalCloseEvent)="modalClose($event)"></app-modal-action>
    <!-- <button mat-button (click)="save()" [disabled]="clinicForm.invalid" mat-raised-button>Запази</button> -->
</mat-dialog-actions>

