<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="appointment.status" class="md-dialog-header d-flex justify-content-end">
    <button [md-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<md-dialog-content>
    <form (ngSubmit)="appointmentForm.valid && save()" #appointmentForm="ngForm" novalidate>
        <div>
            <md-select [(ngModel)]="appointment.doctor" name="doctor" required #appointmentDoctor="ngModel" placeholder="Лекар" class="input-full-width">
                <ng-container *ngFor="let doctor of doctors">
                    <md-option *ngIf="doctor.role !== 'reception'" [value]="doctor._id">
                        д-р. {{doctor.lastName}}
                    </md-option>
                </ng-container>
            </md-select>
        </div>
        <div>
            <md-select [(ngModel)]="appointment.startTime" (change)="durationFilter()" name="startTime" required #appointmentStartTime="ngModel" placeholder="Час" class="input-full-width">
                <md-option *ngFor="let hour of hours" [value]="hour.value">
                    {{hour.name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-select [(ngModel)]="appointment.duration" name="duration" required #appointmentDuration="ngModel" placeholder="Времетраене" class="input-full-width">
                <md-option *ngFor="let hour of durationHours" [value]="hour">
                    {{hour}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.patient.firstName" name="patientFirstName" required #appointmentPatientFirstName="ngModel" placeholder="Име на пациента">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.patient.lastName" name="patientLastName" required #appointmentPatientLastName="ngModel" placeholder="Фамилия на пациента">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.patient.phone" name="patientPhone" required #appointmentPatientPhone="ngModel" placeholder="Телефон на пациента">
            </md-form-field>
        </div>
        <div [hidden]="manipulations?.length === 0">
            <md-select [(ngModel)]="appointment.manipulations" [multiple]="true" name="manipulation" required #appointmentManipulation="ngModel" placeholder="Манипулация" class="input-full-width">
                <md-option *ngFor="let manipulation of manipulations" [value]="manipulation._id">
                    {{manipulation.name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-select [(ngModel)]="appointment.status" name="status" required #appointmentStatus="ngModel" placeholder="Статус" class="input-full-width">
                <md-option *ngFor="let status of statuses" [value]="status.type">
                    {{status.name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <textarea  mdInput [(ngModel)]="appointment.comment" name="comment" #appointmentComment="ngModel" placeholder="Забележка"></textarea>
            </md-form-field>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button *ngIf="data.appointmentId" md-button (click)="delete()" md-raised-button>Изтрий</button>
    <button md-button (click)="save()" [disabled]="appointmentForm.invalid" md-raised-button>Запази</button>
</md-dialog-actions>