<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div class="md-dialog-header"></div>
<md-dialog-content>
    <form (ngSubmit)="appointmentForm.valid && save()" #appointmentForm="ngForm" novalidate>
        <p [hidden]="manipulations?.length > 0">Моля, преди да запишете час, създайте манипулация.</p>
        <div>
            <md-select [(ngModel)]="appointment.doctor" name="doctor" required #appointmentDoctor="ngModel" placeholder="Лекар" class="input-full-width">
                <md-option *ngFor="let doctor of doctors" [value]="doctor._id">
                    д-р. {{doctor.lastName}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-select [(ngModel)]="appointment.startTime" (change)="durationFilter()" name="startTime" required #appointmentStartTime="ngModel" placeholder="Час" class="input-full-width">
                <md-option *ngFor="let hour of hours" [value]="hour.value">
                    {{hour.name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-select [(ngModel)]="appointment.duration" name="duration" required #appointmentDuration="ngModel" placeholder="Времетраене" class="input-full-width">
                <md-option *ngFor="let hour of durationHours" [value]="hour">
                    {{hour}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.firstName" name="firstName" required #appointmentFirstName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.lastName" name="lastName" required #appointmentLastName="ngModel" placeholder="Фамилия">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="appointment.phone" name="phone" required #appointmentPhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div [hidden]="manipulations?.length === 0">
            <md-select [(ngModel)]="appointment.manipulations" [multiple]="true" name="manipulation" required #appointmentManipulation="ngModel" placeholder="Манипулация" class="input-full-width">
                <md-option *ngFor="let manipulation of manipulations" [value]="manipulation._id">
                    {{manipulation.name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <textarea  mdInput [(ngModel)]="appointment.comment" name="comment" #appointmentComment="ngModel" placeholder="Забележка"></textarea>
            </md-form-field>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Cancel</button>
    <button *ngIf="data.appointmentId" md-button (click)="delete()">Delete</button>
    <button md-button (click)="save()" [disabled]="appointmentForm.invalid">Save</button>
</md-dialog-actions>