<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="appointment.status" class="mat-dialog-header d-flex justify-content-end">
    <button [mat-dialog-close]="'cancel'" class="close-modal cursor-pointer d-flex justify-content-center align-items-center">
        <i class="fontello icon-close ft-14"></i>
    </button>
</div>
<mat-dialog-content>
    <form (ngSubmit)="appointmentForm.valid && isValidPatient && save()" #appointmentForm="ngForm" novalidate>
        <div>
            <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="appointment.doctor" name="doctor" required #appointmentDoctor="ngModel" placeholder="Лекар">
                    <ng-container *ngFor="let doctor of doctors">
                        <mat-option *ngIf="doctor.role !== 'reception'" [value]="doctor._id">
                            д-р {{doctor.lastName}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="appointment.startTime" (change)="durationFilter()" name="startTime" required #appointmentStartTime="ngModel" placeholder="Час">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">
                        {{hour.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="appointment.duration" name="duration" required #appointmentDuration="ngModel" placeholder="Времетраене">
                    <mat-option *ngFor="let hour of durationHours" [value]="hour">
                        {{hour}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="appointmentDataDay >= todayDate" [hidden]="patients?.length === 0">
            <mat-form-field class="input-full-width">
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" [(ngModel)]="appointment.patient"  (ngModelChange)="checkValidPatient($event)" name="patient" required placeholder="Пациент">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPatient">
                <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                    {{patient.firstName}} {{patient.middleName}} {{patient.lastName }}
                </mat-option>
            </mat-autocomplete>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="appointment.status" name="status" required #appointmentStatus="ngModel" placeholder="Статус">
                    <mat-option *ngFor="let status of statuses" [value]="status.type">
                        {{status.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width">
                <textarea  matInput [(ngModel)]="appointment.comment" name="comment" #appointmentComment="ngModel" placeholder="Забележка"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <app-modal-action [formIsDisabled]="appointmentForm.invalid || (!isValidPatient && !appointmentForm.invalid)" [showDeleteBtn]="data.appointmentId && appointmentDataDay >= todayDate" [data]="appointment" [dataId]="data.appointmentId" [type]="'appointment'" (toggleLoadingOverlayEvent)="toggleLoadingOverlay($event)" (modalCloseEvent)="modalClose($event)"></app-modal-action>

    <!-- <button *ngIf="data.appointmentId && appointmentDataDay >= todayDate" mat-button (click)="delete()" mat-raised-button>Изтрий</button>
    <button mat-button (click)="save()" [disabled]="appointmentForm.invalid || (!isValidPatient && !appointmentForm.invalid)" mat-raised-button>Запази</button> -->
</mat-dialog-actions>