@import "~assets/styles/variables";
@import "~bootstrap/scss/bootstrap-grid";

nav {
    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        opacity: 0;
        transition: opacity .4s;
    }
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 6;
        width: 0;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
        transition: width .4s;
        > div {
            opacity: 0;
            transition: opacity .2s;
            @include media-breakpoint-down(xs) {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
        .logo-close {
            @include media-breakpoint-down(xs) {
                background-color: $app-primary;
            }
            .logo {
                padding: 5px 15px;
                img {
                    width: 40px; 
                }
            }
            .close-nav {
                min-height: 63px;
                padding: 5px 15px;
                @include media-breakpoint-down(sm) {
                    min-height: 53px;
                }
                @include media-breakpoint-down(xs) {
                    color: $app-ligth-color;
                }
            }
        }
        ul {
            @include media-breakpoint-down(xs) {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding-top: 0;
                padding-bottom: 0;
            }
            li {
                display: block;
                @include media-breakpoint-down(xs) {
                    display: flex;
                    flex: 1;
                }
                a {
                    padding: 15px;
                    color: $app-dark-color;
                    transition: color .4s;
                    @include media-breakpoint-down(xs) {
                        flex: 1;
                        color: $app-ligth-color;
                    }
                }
                &.list-0 {
                    a {
                        @include media-breakpoint-down(xs) {
                            background-color: #4C99CF;
                        }
                    }
                }
                &.list-1 {
                    a {
                        @include media-breakpoint-down(xs) {
                            background-color: #4873A6;
                        }
                    }
                }
                &.list-2 {
                    a {
                        @include media-breakpoint-down(xs) {
                            background-color: #5A5386;
                        }
                    }
                }
                &.list-3 {
                    a {
                        @include media-breakpoint-down(xs) {
                            background-color: #524364;
                        }
                    }
                }
                &.list-4 {
                    a {
                        @include media-breakpoint-down(xs) {
                            background-color: #372d44;
                        }
                    }
                }
            }

        }
    }
    &.nav-open {
        .nav-overlay {
            width: 100%;
            opacity: 1; 
        }
        .nav-container {
            width: 300px; 
            @include media-breakpoint-down(xs) {
                width: 100%; 
            }
            > div {
                opacity: 1;
                transition: opacity .4s .2s;
            }
            .close {
                display: flex;
            }
        }
    }
}
