@import "~assets/styles/variables";

nav {
    background-color: $app-primary-color;
    a {
        padding: 13px 30px;
        color: $app-ligth-color;
        transition: color .4s;
        &:hover {
            color: darken($app-ligth-color, 10%);
        }
        &.active {
            border-bottom: 2px solid $app-primary-color;
        }
    }
    
}