<header>
    <div appScrollPageTransition [toggleClass]="'header-fixed-scroll'" [hidden]="pageName === '/home'" class="header-fixed">
        <div class="header-top">
            <div class="d-flex justify-content-between align-items-center">
                <a (click)="toggleMenu()" class="d-flex header-top-toggle cursor-pointer">
                    <i class="fontello ft-30 icon-menu-button"></i>
                </a>
                <a class="d-flex header-top-account cursor-pointer">
                    <i class="fontello ft-30 icon-user"></i>
                </a>
            </div>
        </div>
        <div class="header-title">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="header-background" [hidden]="pageName === '/home'">
        <div [style.background-image]="'url(assets/images/'+image+')'"></div>
    </div>
    <app-nav [navList]="navList" [isVisibleMenu]="isVisibleMenu" (toggleMenu)="toggleMenu()"></app-nav>
</header>