<header>
    <div appScrollPageTransition [toggleClass]="'header-fixed-scroll'" [hidden]="pageName === '/home' || pageName === '/'" class="header-fixed">
        <div class="header-top">
            <div class="d-flex justify-content-between align-items-center">
                <a (click)="toggleMenu()" class="d-flex header-top-toggle cursor-pointer">
                    <i class="fontello ft-26 icon-menu-button"></i>
                </a>
                <a [matMenuTriggerFor]="userMenu" class="d-flex header-top-account cursor-pointer">
                    <i class="fontello ft-28 icon-user"></i>
                </a>
            </div>
        </div>
        <mat-menu #userMenu="matMenu" xPosition="before" yPosition="below" class="user-menu">
            <a (click)="openProfile()" mat-menu-item class="decoration-none d-flex align-items-center">
                <i class="fontello ft-26 icon-doctor mr-1"></i>
                <span>Профил</span>
            </a>
            <a href="logout" mat-menu-item class="decoration-none d-flex align-items-center">
                <i class="fontello ft-22 icon-logout mr-1"></i>
                <span>Изход</span>
            </a>
        </mat-menu>
        <div class="header-title">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="header-background" [hidden]="pageName === '/home'">
        <div [style.background-image]="'url(assets/images/'+image+')'"></div>
    </div>
    <app-nav [navList]="navList" [isVisibleMenu]="isVisibleMenu" (toggleMenu)="toggleMenu()"></app-nav>
</header>