<header>
    <div appScrollPageTransition [toggleClass]="'header-fixed-scroll'" [hidden]="pageUrl === '/home' || pageUrl === '/'" class="header-fixed">
        <div class="header-top d-flex justify-content-between align-items-center">
            <app-nav></app-nav>
            <app-profile></app-profile>
        </div>
        <div class="header-title">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="header-background" [hidden]="pageUrl === '/home'">
        <div [style.background-image]="'url(assets/images/wallpapers/'+ wallpaper +')'"></div>
    </div>
</header>