<app-loading-overlay *ngIf="loadingOverlay"></app-loading-overlay>
<div [ngClass]="doctor.speciality" class="md-dialog-header"></div>
<md-dialog-content>
    <form (ngSubmit)="doctorForm.valid && save()" #doctorForm="ngForm" novalidate>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.firstName" name="firstName" required #doctorFirstName="ngModel" placeholder="Име">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.lastName" name="lastName" required #doctorLastName="ngModel" placeholder="Фамилия">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.egn" name="egn" required #doctorEgn="ngModel" placeholder="ЕГН">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.phone" name="phone" required #doctorPhone="ngModel" placeholder="Телефон">
            </md-form-field>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.address" name="address" required #doctorAddress="ngModel" placeholder="Адрес">
            </md-form-field>
        </div>
        <div>
            <md-select [(ngModel)]="doctor.speciality" name="speciality" required #doctorSpeciality="ngModel" placeholder="Специалност" class="input-full-width">
                <md-option *ngFor="let speciality of specialities" [value]="speciality.type">{{speciality.name}}</md-option>
            </md-select>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.email" name="email" required #doctorEmail="ngModel" placeholder="Е-mail">
            </md-form-field>
        </div>
         <div>
            <md-form-field class="input-full-width">
                <input mdInput [(ngModel)]="doctor.password" type="password" name="password" required #doctorPassword="ngModel" placeholder="Парола">
            </md-form-field>
        </div> 
        <div>
            <md-radio-group [(ngModel)]="doctor.role" name="role" #doctorRole="ngModel" >
                <md-radio-button value="admin">Администратор</md-radio-button>
                <md-radio-button value="user">Служител</md-radio-button>
            </md-radio-group>
        </div>
        <div>
            <md-slide-toggle (change)="slideToggle($event)" [checked]="doctor.active">
                Slide me!
            </md-slide-toggle>
        </div> 
    </form>
</md-dialog-content>
<md-dialog-actions class="justify-content-end">
    <button md-button [md-dialog-close]="'cancel'">Затвори</button>
    <button *ngIf="data.doctorId" md-button (click)="delete()">Изтрий</button>
    <button md-button (click)="save()" [disabled]="doctorForm.invalid">Запази</button>
</md-dialog-actions>

