// Bootstrap variables 
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// Mine variables
$app-primary-color: #3f51b5;
$app-ligth-color: #f5f7ff; 
$app-dark-color: #212529;